.banner_div {
    height: 130px;
}

.title {
    position: absolute;
    left: 45%;
}

.banner {
    width: 7%;
    position: absolute;
    left: 45%;
}

.selection {
    margin-top: 70px;
    border-spacing: 10px;
    position: absolute;
    left: 33%;
}

.chart{
    margin-top: 120px;
    width: 900px;
    height: 300px;
    position: absolute;
    left: 25%;
}